*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.gs
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/public/javascripts
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.DS_Store
tags
